@import "~vars.scss";

.orange-input-wrapper{
    position:relative;
    margin-bottom:20px;
    padding-left:50px;
    padding-right:50px;
    
    .orange-input{
        margin-bottom:0;
        margin-top:0;
        position:relative;
    }

    .orange-input-button{
        position:absolute;
        right:57px;
        bottom:5px;
    }
}

ul{
    list-style: none;
    padding:0;

    li{

        .label-wrapper{
            position:relative;
            display:flex;
            flex-direction: column;
            justify-content: center;
            width:100%;
            height:100px;
            border-radius:50px;
            padding-left:110px;
            padding-right:30px;
            background-color:#fff;
            cursor:pointer;
            box-shadow:$standard-shadow;
            margin-bottom:15px;
            transition:all 0.2s ease-in;

            &:hover{
                transform:translateX(-1px);
            }

            &:hover .profile-img-wrapper{
                transform:scale(1.1);
            }

            h5{
                color:$orange;
                margin-bottom:5px;
                margin-top:0;
            }

            p{
                margin-bottom:0;
                margin-top:0;
            }

            .profile-img-wrapper{
                position:absolute;
                left:0px;
                display:flex;
                justify-content: center;
                align-items: center;
                width:100px;
                height:100px;
                background-color:#fff;
                border-radius:50%;
                box-shadow:$standard-shadow;
                transition:all 0.2s ease-in;

                .profile-img{
                    width:80px;
                    height:80px;
                    border-radius:50%;
                    background-size:cover;
                    background-position:center;
                }
            }
        }
    }
}
