 <div class="right-login-box regi">
    <h1>Reset Password</h1>
    <div class="form-control error" *ngIf="errorMessage" [@FadeInAnimationFast]>
        Passwords didn't match.
    </div>
    <form [formGroup]="passwordForm" (ngSubmit)="checkUser(passwordForm.value)">

        <label for="password">PASSWORD
            <span class="span-error" *ngIf="!passwordForm.controls['password'].valid && passwordForm.controls['password'].touched" [@FadeInAnimationFast]>
                - Must be at least 6 charcters long.
            </span>
        </label>
        <input class="bordered" type="password" formControlName="password" name="password">

        <label for="password_confirmation">REPEAT PASSWORD</label>
        <input class="bordered" type="password" formControlName="password_confirmation" name="password_confirmation">

        <button class="submit" type="submit" [disabled]="!passwordForm.valid"><span [hidden]="loading">Confirm Password</span><i class="fa fa-spinner fa-pulse fa-3x fa-fw" [hidden]="!loading"></i></button>

    </form>
</div>