<div class="image-post" *ngFor="let post of posts">
{{profileVisited}}
  <div class="post-header">
    <div class="left-side">

      <div class="profile-img" 
      *ngIf="_user" [ngStyle]="{'background-image':'url(' + _user?.info?.avatar + ')'}">
      </div>

      <h5>{{_user?.info?.first_name}} {{_user?.info?.last_name}}</h5>

    </div>

    <div class="right-side">
      <p>{{post.created_at}}</p>
    </div>
  </div>
  <!--post header end-->

  <img class="main-image" src="{{post.picture_url}}">

  <div class="stat-bar">
    
    <div class="likes-wrapper">
      <i class="fa fa-heart-o"></i><p>11</p>
    </div>

    <div class="comments-wrapper">
      <i class="fa fa-commenting-o"></i><p>4</p>
    </div>

  </div>
  <!--stat-bar end-->

  <div class="description">
    <p>{{post.description}}</p>
  </div>

  <p class="more-comments">show more comments <i class="fa fa-angle-down"></i></p>
</div>
