<div class="dim-background" *ngIf="showPopOver" (click)="resetShowPopover()"></div>
<div class="image-post" *ngFor="let post of profileService.posts | reverse let i = index">

  <div class="post-header">
    <div class="left-side">

      <div class="profile-img" 
      *ngIf="profileService.user" [ngStyle]="{'background-image':'url(' + profileService.user?.info?.avatar + ')'}">
      </div>

      <h5>{{profileService.user?.info?.first_name}} {{profileService.user?.info?.last_name}}</h5>

    </div>

    <div class="right-side">
      <p>{{post.created_at}}</p>
    </div>
  </div>
  <!--post header end-->

  <img class="main-image" src="{{post.picture_url}}">

  <div class="stat-bar">
    
    <div class="likes-wrapper">
      <i class="fa fa-heart" (click)="likePost(post.id)" *ngIf="checkLike(post)"></i>
      <i class="fa fa-heart-o" (click)="likePost(post.id)" *ngIf="!checkLike(post)"></i><p>{{post.likes.length}}</p>
    </div>

    <div class="comments-wrapper">
      <i class="fa fa-commenting-o"></i><p>{{post.comments.length}}</p>
    </div>

  </div>
  <!--stat-bar end-->

  <div class="description">
    <p>{{post.description}}</p>
  </div>

  <p class="more-comments" (click)="showComments(i)" *ngIf="post.comments.length > 0">
    <span *ngIf="!showCommentsArray.includes(i)">show comments <i class="fa fa-angle-down"></i></span>
    <span *ngIf="showCommentsArray.includes(i)">hide comments <i class="fa fa-angle-up"></i></span>
  </p>

  <ul class="comment-list" *ngIf="showCommentsArray.includes(i)">
    <li *ngFor="let comment of post.comments">

      <div class="popover-delete" *ngIf="showPopOver == comment.id">
        <p>Are you sure you <br>want to delete this?</p>
        <button class="yes-btn" (click)="deleteComment(comment.id, post.id, true)">Yes</button>
        <button class="no-btn" (click)="deleteComment(comment.id, post.id, false)">No</button> 
        <div class="arrow"></div>
      </div>
      <div class="delete-comment" *ngIf="deletableComment(comment.user.id, post.user_id)" (click)="areYouSure(comment.id)"><i class="fa fa-trash-o"></i></div>

      <div class="profile-img-wrapper">
      <div class="profile-img" [ngStyle]="{'background-image':'url(' + comment.user.info.avatar + ')'}"></div>
      </div>
      <div class="title-date-wrapper">
          <h5>{{comment.user.username}}</h5>
          <p class="date">{{comment.created_at | date:yMd}}</p>
      </div>
      <p> {{comment.content}}</p>
    </li>
  </ul>

  <div class="comment-wrapper">
    <form [formGroup]="commentForm" (ngSubmit)="sendComment(commentForm.value, post)">
      <input class="comment" type="text" formControlName="comment" name="comment">
      <button class="send-btn" type="submit"><i class="fa fa-paper-plane" [ngStyle]="commentForm.valid ? {'color': '#F99060'} : {'color' : '#95989A'}"></i></button>
    </form>
  </div>
</div>
