<div class="container">

  <div class="profile-label">

    <div class="profile-img-circle">
      <div class="profile-img" *ngIf="profileService.user" [ngStyle]="{'background-image':'url(' + profileService.user?.info?.avatar + ')'}"></div>
    </div>

    <div class="info-box-wrapper">

      <div class="info-box">

        <h1>{{profileService.user?.info.first_name}} {{profileService.user?.info.last_name}}</h1>
        <p class="country-p">{{profileService.user?.info.country}}</p>

        <p class="photography-type">Landscape Photographer</p>

        <ul *ngIf="loginService.user.username !== profileVisited">
          <li (click)="checkIfFollows(profileService.user.id)">hire me!</li>
          <li (click)="followService.followUser(profileService.user.id)"><span *ngIf="checkIfFollows(profileService.user.id)">tt</span>follow</li>
          <li>send message</li>        
        </ul>

      </div>

    </div>

    <div class="stat-box-wrapper">

      <div class="total-uploads-wrapper stat-box">
        <i class="fa fa-picture-o"></i>
        <p class="numbers">21</p>
        <p class="title">total uploads</p>
      </div>

      <div class="total-followers-wrapper stat-box">
        <i class="fa fa-user-o"></i>
        <p class="numbers">312</p>
        <p class="title">total followers</p>        
      </div>

      <div class="completed-jobs-wrapper stat-box">
        <i class="fa fa-certificate fa-stack-2x">        
          <i class="fa fa-check fa-stack-1x"></i>   
        </i>
        <p class="numbers">5</p>
        <p class="title">completed jobs</p>        
      </div>

    </div>

  </div>
  <!-- Profile Label End-->

  <div class="row">
    <div class="col-md-6 left-side">
      <about-me></about-me>
      <profile-reference></profile-reference>
    </div>

    <div class="col-md-6 right-side">
      <profile-image-feed *ngIf="profileService.posts" [posts]="profileService.posts" [size]="'col-md-12'"></profile-image-feed>   
    </div>
    <div class="col-md-6 gradient-test">
      <div class="mouse">
        <div class="mouse-wheel"></div>
      </div>
    </div>
        
  </div>
</div>
