<nav>
  <div class="container">

    <img class="logo" src="/assets/img/ps-c-logo.svg" alt="photoshare logo">
    <!-- mobile logo -->
    <img class="mobile-logo" src="/assets/img/logo-no-text.svg" alt="photoshare logo">

    <ul>
      <li>My feed</li>
      <li>Profile</li>
      <li>Settings</li>
      <li>Followers</li>
    </ul>

    <div class="burger-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="profile-drpdwn">
      <div class="avatar" *ngIf="loginService.user" [ngStyle]="{'background-image':'url(' + loginService.user?.info.avatar + ')'}"></div>
      <p>{{loginService.user?.username}} <i class="fa fa-angle-down"></i></p>
      <button><i class="fa fa-plus-square-o"></i> <span>New Photo</span></button>
    </div>

    <ul class="mobile-menu">
      <li>My feed</li>
      <li>Profile</li>
      <li>Settings</li>
      <li>Followers</li>
    </ul>


  </div>
</nav>