<div class="login-background"></div>
<div class="login-background-blur"></div>
<div class="login-box" [ngClass]="{'login-box-extended': router.url =='/login/register'}" [@FadeInAnimationFast]>

    <div class="left-login-box">
        <img src="assets/img/logo-no-text.svg" alt="photoshare logo">
        <h2>PhotoShare</h2>
    </div>

    <router-outlet>
        <!-- Router for forgot password / pw reset / register -->
    </router-outlet>
    
    <div class="right-login-box" 
    *ngIf="router.url == '/login' || router.url == '/login/emailValid/1' || router.url == '/login/resetSent'" 
    [@FadeInAnimationFast]>

        <h1>WELCOME.</h1>

        <div class="form-control error" *ngIf="errorShow" [@FadeInAnimation]><i class="fa fa-exclamation-circle"></i>Invalid login information, please try again.</div>
        <div class="form-control success" *ngIf="emailValidated == true" [@FadeInAnimation]><i class="fa fa-check"></i>Thank you for validating!</div>
        <div class="form-control success" *ngIf="router.url == '/login/resetSent'" [@FadeInAnimation]><i class="fa fa-envelope-o"></i>Reset password email has been sent!</div>

        <form>
        
            <label for="email">EMAIL</label>
            <input class="bordered" type="text" [(ngModel)]="username" name="email" required>
            <label for="password">PASSWORD</label>
            <input class="bordered form-group has-warning" type="password" [(ngModel)]="password" name="password" required>
            <a class="forgot-password" routerLink="/login/forgotPassword">FORGOT YOUR PASSWORD?</a>

            <button class="submit" type="submit" (click)="validateUser(username, password)"><span *ngIf="!loggingIn">Login</span><i class="fa fa-spinner fa-pulse fa-3x fa-fw" [hidden]="!loggingIn"></i></button>

            <a class="sign-up" routerLink="/login/register">Need an account? <span>Register</span></a>
        
        </form>

    </div>

</div>

<div class="popup-background" *ngIf="registerService.responseMessage" (click)="registerService.responseMessage = ''" [@FadeInAnimation]></div>
<div class="popup" *ngIf="registerService.responseMessage" (click)="registerService.responseMessage = ''" [@FadeInAnimation]><i class="fa fa-check"></i> {{registerService.responseMessage.message}}</div>
