@import "~vars.scss";
.regi{
    position:relative;
    flex-grow:1;
    height:100%;
    width:420px;
    padding-top:40px;
    padding-bottom:40px;
    padding-left:35px;
    padding-right:35px;

    .error{    
        position:absolute;
        top:65px;
        width:350px;
        background-color:$error;
        border:none;
        color:#fff;
        font-weight:400;
        text-align:center;
        animation:wobble 0.1s ease-in-out 2;

        i{
            margin-right:5px;
        }
    }
    .back-link{
    color:#fff;
    position:absolute;
    top:20px;
    left:30px;
    font-size:10px;
    opacity:0.4;
    transition:all 0.2s ease-in;
    text-decoration: none;

        &:hover{
            opacity:0.8;
        }
    }

    h1{
        font-size:20px;
        font-weight:500;
        color:#fff;
        margin-top:90px;
        text-align:center;
    }

    p{
        font-size:12px;
        text-align:center;
        margin-top:25px;
        color:#888888;
    }

    input{
        margin-top:16px;
        width:100%;
        border:none;
        height:40px;
        padding-left:15px;
        padding-right:90px;
        padding-top:5px;
        padding-bottom:5px;
        border-radius:30px;
        outline:none;
    }
    button{
        position:absolute;
        top:242px;
        right:40px;
        border-radius:30px;
        border:none;
        padding-left:20px;
        padding-right:20px;
        padding-top:5px;
        padding-bottom:5px;
        color:#fff;
        background:$button-gradient;
        outline:none;

        &:hover{
            background:$button-gradient-hover;
        }
    }
        i{
            font-size:12px;
            outline:none;
        }
}