@import "~vars.scss";

.background-dark{
    position:fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:rgba(0,0,0,0.50);
    z-index:50;

    .add-post-popup{
        position:relative;
        min-width:450px;
        padding:20px 20px;
        background-color:#fff;
        border-radius:5px;
        box-shadow:$standard-shadow;

        .close-btn{
            position:absolute;
            display:flex;
            justify-content: center;
            align-items:center;
            right:-15px;
            top:-15px;
            border-radius:50%;
            background-color:#fff;
            height:40px;
            width:40px;
            box-shadow:$standard-shadow;
            cursor:pointer;
            transition: all 0.2s ease-in;

            &:hover{
                transform:rotate(270deg);
            }

            &:hover .fa-times{
                color:$darker-orange;
            }

            .fa-times{
                font-size:20px;
                color:$orange;
            }
        }

        .post-header{
            display:flex;
            align-items:center;
            margin-bottom:20px;

            .profile-image{
                height:40px;
                width:40px;
                background-size:101%;
                border-radius:50%;
                background-position:center;
            }

            h5{
                color:$orange;
                margin-left:10px;
                font-size:16px;
                font-weight:500;
            }
        }

        .image-area-height{
            height:450px;
        }

        .image-area{
            display:flex;
            justify-content: center;
            align-items:center;
            width:100%;
            margin:0 auto;
            background-color:#fff;
            border:1px solid $blue-background;
            border-radius:5px;
            box-shadow:$standard-shadow;
            margin-bottom:20px;

            .front{
                position:relative;
                z-index:9999;
                display:block;
                max-width:400px;
                max-height:62vh;
                width:auto;
                height:auto;
                border-radius:5px;
                transform:scale(1.017);
            }

            .upload-image{
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items:center;

                .upload-btn{
                    display:flex;
                    align-items:center;
                    justify-content: center;
                    width:110px;
                    height:110px;
                    background-color:$blue-background;
                    margin-bottom:10px;

                    .fa-plus{
                        color:#fff;
                        font-size:50px;
                    }
                }

                p{
                        font-size:14px;
                        color:$light-gray-font;
                }
                .avatar-btn{
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    z-index: -1;

                    &:hover{
                        background:$button-gradient-hover;
                    }
                }
                .avatar-btn + label{
                    display:block;
                    margin:0 auto;
                    width:145px;
                    height:30px;
                    border-radius:5px;
                    font-weight:400;
                    text-align:center;
                    padding-top:6px;
                    background:$blue-background;
                    font-size:12px;
                    color:$light-gray;
                    border:none;
                    cursor:pointer;
                    margin-bottom:30px;

                    &:hover{
                        background:darken($blue-background, 5%);
                    }

                }
            }
        }

        .description-area{
            width:100%;
            min-height:100px;
            box-shadow:$standard-shadow;
            border: 1px solid $blue-background;
            margin-bottom:20px;

            textarea{
                width:100%;
                height:auto;
                padding:9px 13px;
                border:none;
                outline:none;
            }
        }

        button{
            display:block;
            background:$button-gradient;
            color:#fff;
            width:220px;
            height:40px;
            border:none;
            border-radius:5px;
            margin:0 auto;
            box-shadow:$hover-shadow;

            &:hover{
                background:$button-gradient-hover;
                box-shadow:$standard-shadow;
            }

            i{
                font-size:20px;
            }
        }
    }
}