<div class="about-me-wrapper" (click)="testing()" [ngClass]="{'scale-left-side' : scale == 1}">

  <div class="about-me">
    <h2>About me</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent pulvinar, tortor in fermentum mattis, mi libero semper sapien, et vestibulum risus leo in nunc. Morbi at quam fringilla massa luctus elementum a id ex.<br><br>
  Proin faucibus hendrerit mollis. Nulla nunc nulla, pretium in risus nec, egestas commodo erat. Fusce condimentum ut.
    </p>
  </div>
</div>
