$standard-shadow: 0px 3px 7px 0px rgba(0,0,0,0.16);

//Colors
$success: #2ca977;
$error: #d9534f;

//Gradients
$button-gradient: linear-gradient(159deg, #D76D77 31%, #f99060 79%);
$button-gradient-hover: linear-gradient(159deg, lighten(#D76D77, 4%) 31%, lighten(#f99060, 4%) 79%);