$standard-shadow: 0px 3px 7px 0px rgba(0,0,0,0.16);
$darker-shadow: 0px 3px 7px 0px rgba(0,0,0,0.36);

//Colors
$success: #2ca977;
$error: #d9534f;
$blue-background:#DEE3ED;
$light-gray:#95989A;
$orange:#F99060;
$darker-orange:#D7836D;

//Font colors
$gray-font:#575757;
$light-gray-font:#95989A;

// Borders
$light-gray-border:1px solid rgba(149, 152, 154, 0.44);

//Gradients
$button-gradient: linear-gradient(159deg, #D76D77 31%, #f99060 79%);
$button-gradient-hover: linear-gradient(159deg, lighten(#D76D77, 4%) 31%, lighten(#f99060, 4%) 79%);